*{
	padding: 0;
	margin: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/cam1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
	display: flex;
	background-color: rgb(255,255,255);
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    list-style: none;
    text-decoration: none;
}
.nav__logo {
	gap: 0.5rem;
	display: flex;
	align-items: right;
  }
.nav__logo img {
	width: 2rem;
  }


.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: skyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 16%;
    color: #000;
    position: absolute;
    top: 54%;
    left: 36%;
    transform: translate(-50% -50%);
    text-align: center;
}
.text-box h3{
    font-size: 23px;
}
.text-box p{
    margin: 10px 0 30px;
    font-size: 18px;
}
.cont-btn{
    display: inline-block;
	background: skyblue;
	color: #000;
	padding: 13px 25px;
	margin: 12px 0;
	margin-left: 10%;
	border-radius: 5px;
	transition: background 0.5s;
	text-decoration: none;
	cursor: pointer;
}
.cont-btn:hover
{
	background: #563434
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box{
        width: 65%;
        left: 13%;
        color: #fff;
    }
    .text-box h3{
        font-size: 30px;  
    }
    .text-box p{
        font-size: 22px;
        margin: 20px 0 20px;
    }  
    .nav-links ul li{
        display: block;
    }  
    .nav-links{
        position: absolute;
        background: skyblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        transition: 1s;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: red;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*--Activities--*/
.ourservice{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.ourservice h1{
    font-size: 36px;
    font-weight: 600;
}
.ourservice p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row2{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.service-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
.service-col h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.service-col:hover{
	box-shadow: 0 0 20px 0px rgb(0,0,255);
	background-color: rgb(135,206,235); 
}

@media(max-width: 700px){
    .row2{
        flex-direction: column;
    }
}

/*--About--*/
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
}
.title{
	text-align: center;
	margin: 27px auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after{
	content: '';
	background: transparent;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.col-4 h4{
	color: #555;
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
}
.rating .fa{
	color: yellow;
}
.col-4:hover{
	transform: translateY(-10px);
}
/*--testimonials--*/
.testimonial{
	padding-top: 100px;
	text-align: center;
}
.testimonial h1{
	margin-bottom: 30px;
}
.testimonial .col-3{
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: transform 0.5s;
	
}
.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial .col-3:hover{
	transform: translateY(-10px);
}
.fa.fa-quote-left{
	font-size: 34px;
	color: #ff523b;
}
.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}
.testimonial .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}
/*Meet The Team*/
.body1{
	margin: 0;
	padding: 100px 0px;
	height: 100%;
	box-sizing: border-box;
	font-family: sans-serif;
}
.body1 h1{
	text-align: center;
	color: #000;
	font-size: 45px;
}
.container4{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: auto;
}
.our-team{
	background: #f7f5ec;
	text-align: center;
	overflow: hidden;
	position: relative;
	padding: 30px 70px;
	margin: 0px 20px;
	width: 30%;
}
.our-team .pic{
	display: inline-block;
	width: 130px;
	height: 130px;
	margin-bottom: 0px;
	z-index: 1;
	position: relative;
}
.our-team .pic::before {
	content: "";
	width: 100%;
	height: 0;
	border-radius: 50%;
	background: #1785eb;
	position: absolute;
	bottom: 135%;
	right: 0;
	left: 0;
	opacity: 0.2;
	transform: scale(3);
	transform: all 0.3s linear 0s;
}
.our-team:hover .pic::before{
	height: 100%;
}
.our-team .pic::after{
	content: "";
	width: 100%;
	height: 0;
	border-radius: 50%;
	background: #1785eb;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.our-team .pic img{
	width: 100%;
	height: auto;
	border-radius: 50%;
	transform: scale(1);
	transition: all 0.9s ease 0s;
}
.our-team:hover .pic img{
	box-shadow: 0 0 0 14px #f7f5ec;
	transform: scale(0.7);
}
.our-team .team-content{
	margin-bottom: 30px;
}
.our-team .title{
	font-size: 22px;
	font-weight: 700;
	color: #4e5052;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.our-team .post{
	display: block;
	font-size: 15px;
	color: #4e5052;
}

.our-team .social {
	width: 100%;
	padding: 0;
	margin: 0;
	background: #1785eb;
	position: absolute;
	bottom: -100px;
	left: 0;
	transition: all 0.5s ease 0s;
}
.our-team:hover .social {
	bottom: 0;
}
.our-team .social li{
	display: inline-block;
}
.our-team .social li a{
	text-decoration: none;
	display: block;
	padding: 10px;
	font-size: 17px;
	color: #fff;
	transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
	color: #1785eb;
	background: #f7f5ec;
}
/*Contact US form*/
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(images/builds.jpg);
	background-size: cover;
}
.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}
.contact .content p{
	font-weight: 300;
	color: #fff;
}
.container9{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container9 .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container9 .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container9 .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container9 .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.container9 .contactInfo .box .text h4{
	font-weight: 500;
	color: #fff;
}
.container9 .contactInfo .box .text p{
	color: #fff;
}
.contactForm2{
	width: 40%;
	padding: 40px;
	background: #fff;
}
.contactForm2 h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contactForm2 .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm2 .inputBox input,
.contactForm2 .inputBox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactForm2 .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events:none;
	transition: 0.5s;
	color: #333;
}
.contactForm2 .inputBox input:focus ~ span,
.contactForm2 .inputBox input:valid ~ span,
.contactForm2 .inputBox textarea:focus ~ span,
.contactForm2 .inputBox textarea:valid ~ span
{
	color: #e91e63;
	font-size: 12px;
	transform:translateY(-20px);
}
.contactForm2 .inputBox input[type="submit"]{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

/*-----@media-----*/
@media(max-width: 991px){
	.contact{
		padding: 50px;
	}
	.container9{
		flex-direction: column;
	}
	.container9 .contactInfo{
		margin-bottom: 40px;	
	}
	.container9 .contactInfo,
	.contactForm2
	{
		width: 100%;
	}
	.contact .content h2{
		font-size: 44px;
	}
	.contact .content p{
		font-size: 26px;
	}
	.container9 .contactInfo .box .text h4{
	font-size: 28px;
	}
	.container9 .contactInfo .box .text p{
	font-size: 20px;
	}
	
	.contactForm2 .inputBox input,
	.contactForm2 .inputBox textarea
	{
	font-size: 25px;
	}
	
	.contactForm2 .inputBox input:focus ~ span,
	.contactForm2 .inputBox input:valid ~ span,
	.contactForm2 .inputBox textarea:focus ~ span,
	.contactForm2 .inputBox textarea:valid ~ span
	{
	font-size: 20px;
	}
}
/*--footer--*/
.footer-container{
	background-color: #fff;
	padding: 2rem 0 10rem 0;
	margin-top: 40px;
}
.footer{
	width: 80%;
	height: 40vh;
	background-color: #fff;
	color: #000;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}
.footer-heading{
	display: flex;
	flex-direction: column;
	margin-right: 4rem;
}	
.footer-heading h2{
	margin-bottom: 2rem;
}
.footer-heading a{
	color: #000;
	text-decoration: none;
	margin-bottom: 0.5rem;
}
.footer-heading a:hover{
	color: blue;
	transition: 0.3s ease-out;
}
.footer-email-form h2{
	margin-bottom: 2rem; 
}
#footer-email{
	width: 200px;
	height: 30px;
	border-radius: 4px;
	outline: none;
	border: none;
	padding-left: 0.5rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}
#footer-email::placeholder{
	color: #b1b1b1;
}
#footer-email-btn{
	width: 100px;
	height: 30px;
	border-radius: 4px;
	background-color: red;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1rem;
}
#footer-email-btn:hover{
	cursor: pointer;
	background-color: #337AF1;
	transition: all 0.4s ease-out;
}


.icons .fa{
	color: grey;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}
ul{
	list-style-type: none; 
}
nav .fa{
	display: none;
}

/*--media query for menu--*/
@media(max-width: 700px){
	.col-2 h3{
	font-size: 20px;
    }
	nav .fa{
		display: block;
		color: blue;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.menu-bar ul{
		padding: 30px;
	}
	.row2{
		flex-direction: column;
	}
	
	/*--Footer--*/
	.footer{
		height: 50vh;
	}
	.footer-email-form{
		margin-top: 4rem;
	}
	.container4{
		flex-direction: column;
	}
	.our-team{
		width: 80%;
		margin-top: 30px;
	}
}


/*media query for less than 600 screen size*/
@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.col-2, .col-3, .col-4, .col-5{
		flex-basis: 100%;
	}
	.footer{
		padding-top: 2rem;
	}
	.footer-email-form{
		margin-top: 4rem;
	}
}

/*--Activities--*/
.ourservice{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color: #000;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row2{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.service-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.service-col:hover{
	box-shadow: 0 0 20px 0px rgb(0,0,255);
	background-color: rgb(135,206,235); 
}

/*--About Us page--*/
.sub-header{
	height: 50vh;
	width: 100%;
	background-image: url(images/about.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #000;
}
.sub-header h1{
	margin-top: 100px;
}